{% load static %}
{% load bootstrap4 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico Rayo Makween | Grupo 10 </title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row head">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="{% url 'index' %}">
                    <img src="{% static 'core/img/logo.png' %}" alt="" style="width: 200px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Registrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'agregarContacto' %}">Conversemos</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn btn-outline-light" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Iniciar sesión</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-header d-block">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title text-center" id="exampleModalLabel">Iniciar sesión</h5>
                          </div>
                          <div class="modal-body">
                            <form id="formLogin">
                              <div class="form-group">
                                <label for="inpUser" class="col-form-label">Email</label>
                                <input type="email" class="form-control" id="inpUser">
                              </div>
                              <div class="form-group">
                                <label for="inpPass" class="col-form-label">Contraseña</label>
                                <input type="password" class="form-control" id="inpPass">
                              </div>
                              <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
                            </form>
                          </div>
                          <div class="modal-footer text-center d-block">
                            ¿Olvido su clave? | <a href="registrar.html">Registrar</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </nav>
            </div>
        </div>
        <div class="row separador head"></div>
        <div class="row head">
            <div class="col text-center separadorCard">
                <h1 class="cBlanco tit-interior">Conversemos</h1>
            </div>
        </div>
        <div class="row head text-center separadorCard">
            <div class="col colorGrisTxt">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas amet tenetur recusandae repudiandae temporibus quidem rem veniam doloribus possimus ex impedit, officiis reiciendis eveniet, nemo. Nisi mollitia odit vitae reiciendis!</div>
            </div>
        </div>
        <div class="row head separadorCard"></div>
        <div class="row head bajadaInt"></div>
        
        <div class="row justify-content-center">
            <form action="" method="POST" id="formRegistrar" >
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        {% if messages %}
                            {% for m in messages %}
                                <script>
                                    Swal.fire({
                                      position: 'top-end',
                                      icon: 'success',
                                      title: '{{m}}',
                                      showConfirmButton: false,
                                      timer: 1500
                                    })
                                </script>
                            {% endfor %}
                        {% endif %}
        </div>
        <div class="row separador"></div>
        <div class="row footer separador"></div>
    </div>
    
    
    {% bootstrap_javascript jquery='full' %}
    <script src="js/base.js"></script>
</body>
</html>