{% load static %}
{% load bootstrap4 %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row head">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="{% url 'index' %}">
                    <img src="{% static 'core/img/logo.png' %}" alt="" style="width: 200px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'listarUsuarios' %}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listarVehiculos' %}">Vehiculos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listarServicios' %}">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listarAtenciones' %}">Atenciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listarContacto' %}">Contactos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <img src="{% static 'core/img/user.jpg' %}" class="rounded-circle imgusr" alt="">
                    <p class="cBlanco espizq">Jorge Martínez</p>
                </div>
            </nav>
            </div>
        </div>
        <div class="row separador head"></div>
        <div class="row head">
            <div class="col text-center">
                <h1 class="cBlanco tit-interior">BIENVENIDO</h1>
            </div>
        </div>
        <div class="row head text-center">
            <div class="col colorGrisTxt">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas amet tenetur recusandae repudiandae temporibus quidem rem veniam doloribus possimus ex impedit, officiis reiciendis eveniet, nemo. Nisi mollitia odit vitae reiciendis!</div>
            </div>
        </div>
        <div class="row head separadorCard"></div>
        <div class="row head bajadaInt"></div>
        <div class="row separador"></div>
        <div class="row">
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{% static 'core/img/ciro.jpg' %}" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Jorge Martínez</h5>
                        <p>jmartifi@gmail.com</p>
                        <h6>Mantenciones realizadas con nosotros</h6>
                        <span class="badge badge-pill badge-success">4</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col text-center">
                <h3>Mis solicitudes rechazadas</h3>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Título</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Cambio de disco de frenos</td>
                      <td><span class="badge badge-danger">Rechazado</span></td>
                      <td>
                            <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="bi bi-search"></i></a>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cambio de disco de frenos</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="table-responsive-sm">
                                      <table class="table">
                                        <tbody>
                                            <tr>
                                              <th scope="row">#</th>
                                              <td>1</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Servicio</th>
                                              <td>Mantenimiento al sistema de frenos</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Patente</th>
                                              <td>CXKR-20</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Marca</th>
                                              <td>Volkswagen</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Modelo</th>
                                              <td>Golf A6</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Año</th>
                                              <td>2011</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Fecha ingreso</th>
                                              <td>07/09/2020</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Mecánico</th>
                                              <td>Javier Barrera</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Breve reseña</th>
                                              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum id eos sit ipsum quos ut cumque ipsa saepe voluptas, earum fugit reprehenderit eligendi esse aut, non autem. Perspiciatis vel, assumenda.</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Diagnostico</th>
                                              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque fuga debitis, repudiandae quas, reiciendis tempore dolore at temporibus, quaerat aperiam perferendis sunt provident reprehenderit. Aliquam reprehenderit perferendis consectetur officiis nisi.</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Imagenes</th>
                                              <td>
                                                  <img src="images/gal_01.jpg" alt="" width="100px">
                                                  <img src="images/gal_02.jpg" alt="" width="100px">
                                                  <img src="images/gal_03.jpg" alt="" width="100px">
                                              </td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Estado</th>
                                              <td><span class="badge badge-danger">Rechazado</span></td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Observación</th>
                                              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat cumque amet quo neque. Aperiam nemo optio nihil hic illo doloribus, repellendus deserunt debitis tenetur, dolores dicta vel consectetur nam fugit?</td>
                                            </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Aceptar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Mantención tren delantero</td>
                      <td><span class="badge badge-danger">Rechazado</span></td>
                      <td><a href="#">{% bs_icon 'search' size='12px' %}</i></a></td>
                    </tr>
                  </tbody>
                </table>
                <a href="{% url 'agregarAtencion' %}" class="btn btn-info">Ingresar atención</a>
            </div>
        </div>
        <div class="row separador"></div>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>