{% load static %}
{% load bootstrap4 %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <script>
        function eliminarUsuario(P_id){
            Swal.fire({
              title: '¿Seguro que quiere eliminar atención?',
              text: "Esta accion no se puede revertir",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              confirmButtonText: 'Sí',
              reverseButtons: true
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = 'eliminar/'+P_id
              }
            })
        }
    </script>
</head>
<body>
   <div class="container-fluid">
        <div class="row head">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="index.html">
                    <img src="{% static 'core/img/logo.png' %}" alt="" style="width: 200px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listarUsuarios' %}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listarVehiculos' %}">Vehiculos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listarServicios' %}">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listarAtenciones' %}">Atenciones</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'listarContacto' %}">Contactos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <img src="{% static 'core/img/user.jpg' %}" class="rounded-circle imgusr" alt="">
                    <p class="cBlanco espizq">Jorge Martínez</p>
                </div>
            </nav>
            </div>
        </div>
        <div class="row head bajadaInt"></div>
        <div class="row">
            <div class="col col-lg-">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Contactos</li>
                  </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col table-responsive">
                <h3>Contactos</h3>
                <br>
                <table class="table table-hover">
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">fono</th>
                      <th scope="col">Email</th>
                      <th scope="col">Consulta</th>
                    </tr>
                    {% for c in contacto %}
                        <tr>
                            <td>{{ c.tbco_dsc_nombre }} {{ c.tbco_dsc_apellido }}</td>
                            <td>{{ c.tbco_nmr_fono }}</td>
                            <td>{{ c.tbco_dsc_email }}</td>
                            <td>{{ c.tbco_dsc_consulta }}</td>
                        </tr>
                        {% endfor %}
                        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        {% if messages %}
                            {% for m in messages %}
                                <script>
                                    Swal.fire({
                                      position: 'top-end',
                                      icon: 'success',
                                      title: '{{m}}',
                                      showConfirmButton: false,
                                      timer: 1500
                                    })
                                </script>
                            {% endfor %}
                        {% endif %}
                </table>
            </div>
        </div>
        <div class="row separador"></div>
    </div>

    
   
    {% bootstrap_javascript jquery='full' %}
</body>
</html>